# Data Analysis

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os

## Introduction

- Crispdm problema
- The dataset
- Business Questions

## Python ETL

### Loading data

In [26]:
folder = 'FoodData_Central_foundation_food_csv_2025-04-24'
# Read all relevant CSVs as string columns

foods = pd.read_csv(os.path.join(folder, 'food.csv'), dtype=str)
nutrients = pd.read_csv(os.path.join(folder, 'nutrient.csv'), dtype=str)
food_nutrients = pd.read_csv(os.path.join(folder, 'food_nutrient.csv'), dtype=str)
components = pd.read_csv(os.path.join(folder, 'food_component.csv'), dtype=str)
category = pd.read_csv(os.path.join(folder, 'food_category.csv'), dtype=str)
food_attribute = pd.read_csv(os.path.join(folder, 'food_attribute.csv'), dtype=str)
food_attribute_type = pd.read_csv(os.path.join(folder, 'food_attribute_type.csv'), dtype=str)

### Data Transformations

In [27]:
# Data preparation
nutrients = nutrients.rename(
    columns={'id': 'nutrient_id', 'name': 'nutrient_name'}
)

food_nutrients['amount'] = pd.to_numeric(food_nutrients['amount'], errors='coerce')

In [28]:
# Add food categories to foods
foods = foods.merge(category, 
        left_on='food_category_id',
        right_on='id',
        how='left')

# Join nutrient names to food_nutrients
food_nutrients = food_nutrients.merge(nutrients, 
                    on='nutrient_id',
                    how='left')

In [25]:
food_nutrients.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,nutrient_name,unit_name,nutrient_nbr,rank
0,2201847,319877,1051,56.3,1,1,NaN,NaN,NaN,NaN,NaN,Water,G,255,100.0
1,2201845,319877,1002,1.28,1,1,NaN,NaN,NaN,NaN,NaN,Nitrogen,G,202,500.0
2,2201846,319877,1004,19.0,1,1,NaN,NaN,NaN,NaN,NaN,Total lipid (fat),G,204,800.0
3,2201844,319877,1007,1.98,1,1,NaN,NaN,NaN,NaN,NaN,Ash,G,207,1000.0
4,2201852,319878,1091,188.0,1,1,NaN,NaN,NaN,NaN,NaN,"Phosphorus, P",MG,305,5600.0

In [29]:
nutrients_pivot = food_nutrients.pivot_table(
    index='fdc_id',
    columns='nutrient_name',
    values='amount',
    aggfunc='mean'   # in case of duplicates
).reset_index()

In [43]:
food_nutrients.nutrient_name.value_counts().head(20)

nutrient_name
Water                   4704
Total lipid (fat)       4559
Copper, Cu              4434
Magnesium, Mg           4434
Phosphorus, P           4433
Manganese, Mn           4433
Calcium, Ca             4432
Zinc, Zn                4432
Iron, Fe                4428
Potassium, K            4421
Ash                     3801
Nitrogen                3593
Sodium, Na              3565
Fiber, total dietary    2204
Vitamin B-6             1825
Niacin                  1714
Thiamin                 1663
Starch                  1464
Lactose                 1412
Maltose                 1411
Name: count, dtype: int64

In [42]:
# Add food categories to foods
foods = foods.merge(category, 
        left_on='food_category_id',
        right_on='id',
        how='left')

In [43]:
foods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74175 entries, 0 to 74174
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fdc_id            74175 non-null  object
 1   data_type         74175 non-null  object
 2   description_x     74167 non-null  object
 3   food_category_id  70444 non-null  object
 4   publication_date  74175 non-null  object
 5   id                70444 non-null  object
 6   code              70444 non-null  object
 7   description_y     70444 non-null  object
dtypes: object(8)
memory usage: 4.5+ MB

In [33]:
components.head()

,id,fdc_id,name,pct_weight,is_refuse,gram_weight,data_points,min_year_acqured
0,56885,NaN,Bone and connective tissue,0.1,Y,1.3,2,NaN
1,56886,NaN,External fat,1.0,Y,9.6,2,NaN
2,56887,NaN,Handling loss,0.2,N,2.0,2,NaN
3,56888,NaN,Seam fat,0.0,Y,0.0,2,NaN
4,56889,NaN,Separable Lean,98.7,N,994.0,2,NaN

In [28]:
food_attribute[~(food_attribute.food_attribute_type_id.isna())]

,id,fdc_id,seq_num,food_attribute_type_id,name,value
48,5578,323121,0,1000,NaN,"hot dog, frank, wiener"
241,5579,327046,0,1000,NaN,Chinese gooseberry
470,5580,333476,0,1000,NaN,Pollock
483,5581,334247,0,1000,NaN,sucrose
520,5582,334849,0,1000,NaN,"URMIS # 2219, Kansas City Strip, Boneless Stri..."
...,...,...,...,...,...,...
6908,3324450,2710956,0,999,Agricultural Sample Supplied By,Richardson Seeds
6909,3324457,2710958,3,999,Harvest Date,2022-10-28
6910,3324456,2710958,2,999,Planting Date,2022-06-02
6911,3324455,2710958,1,999,Variety Seed Type,902W
6912,3324454,2710958,0,999,Growing Region,Kansas

In [13]:
foods.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16,2019-04-01
3,319877,sub_sample_food,Hummus,16,2019-04-01
4,319878,sub_sample_food,Hummus,16,2019-04-01

In [10]:
nutrients.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2201847,319877,1051,56.3,1,1,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.28,1,1,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.0,1,1,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.98,1,1,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.0,1,1,NaN,NaN,NaN,NaN,NaN

In [ ]:

# Merge category info
foods = foods.merge(category, left_on='food_category_id', right_on='id', how='left', suffixes=('', '_cat'))
# Merge food_attribute_type into food_attribute
food_attribute = food_attribute.merge(food_attribute_type, left_on='food_attribute_type_id', right_on='id', how='left', suffixes=('', '_type'))
# Aggregate nutrients, components, and food_attribute by fdc_id (example: join as lists)



def aggregate_as_list(df, key, exclude=None):
    exclude = exclude or []
    agg = df.groupby(key).agg(lambda x: list(x.dropna().unique())).reset_index()
    for col in exclude:
        if col in agg.columns:
            agg.drop(col, axis=1, inplace=True)
    return agg
# Aggregate nutrients, components, and food_attribute
nutrients_agg = aggregate_as_list(nutrients, 'fdc_id', exclude=['fdc_id'])
components_agg = aggregate_as_list(components, 'fdc_id', exclude=['fdc_id'])
food_attribute_agg = aggregate_as_list(food_attribute, 'fdc_id', exclude=['fdc_id'])
# Merge all aggregated info into foods
foods = foods.merge(nutrients_agg, on='fdc_id', how='left')
foods = foods.merge(components_agg, on='fdc_id', how='left')
foods = foods.merge(food_attribute_agg, on='fdc_id', how='left')
# Remove duplicates by fdc_id
foods = foods.drop_duplicates(subset=['fdc_id'])
foods.head()

KeyboardInterrupt:

## To do

- Follow CRISP-DM Process
- 3-5 Business questions
- Publish in github

### Blog Post
- Communicate findings
- Title and image